* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: black;
}

nav {
    width: 100%;
    height: 10vh;
    position: sticky;
}

.nav-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 0 0 20px gold;
}

.logo span {
    color: blue;
    text-shadow: 0 0 10px blue;
}

.hamburg,
.cancel {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
    color: white;
    display: none;
    font-size: clamp(2.5rem, 0.5rem + 5vw, 3rem);
}

.nav-container .links {
    display: flex;
}

.nav-container .links a {
    position: relative;
    font-size: 1.2rem;
    color: white;
    margin: 0 20px;
    text-decoration: none;
    font-weight: 550;
    transition: 0.3s linear;
}

.nav-container .links a::before {
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: blue;
    transition: 0.2s linear;
}

.nav-container .links a:hover::before {
    width: 100%;
}

.nav-container .links a:hover {
    color: gold;
    text-shadow: 0 0 10px gold;
}

.dropdown {
    z-index: 100;
    position: absolute;
    top: 0;
    transform: translateY(-500px);
    width: 100%;
    height: auto;
    backdrop-filter: blur(4px)brightness(40%);
    box-shadow: 0 0 20px black;
    transition: 0.2s linear;
}

.dropdown .links a {
    display: flex;
    color: white;
    text-decoration: none;
    justify-content: center;
    padding: 15px 0;
    align-items: center;
    transition: 0.2s linear;
    cursor: pointer;
}

.dropdown .links a:hover {
    background-color: blue;
}

section {
    width: 100%;
    height: 90vh;
}

.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main-container .image {
    width: 500px;
    height: 90vh;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0 0 50px blue;
}

.main-container .image img {
    width: 100%;
}

.main-container .image:hover {
    animation: animate 1.5s ease-in-out infinite;
}

@keyframes animate {
    0% {
        scale: 1;
    }

    50% {
        scale: 1.05;
    }

    100% {
        scale: 1;
    }
}

.main-container .content {
    color: white;
    width: 40%;
    min-height: 100px;
}

.content h1 {
    font-size: clamp(1rem, 1rem + 5vw, 1.8rem);
    text-shadow: 0 0 10px gold;
}

.content h1 span {
    color: blue;
    text-shadow: 0 0 10px blue;
}

.content .typewritter {
    font-size: clamp(1rem, 1rem + 5vw, 2.5rem);
    font-weight: 600;
}

.content .typewritter-text {
    color: blue;
    text-shadow: 0 0 10px blue;
}

.content p {
    font-size: clamp(0.4rem, 0.2rem + 9vw, 1rem);
    margin: 10px 0;
}

.social-links i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: 0.2rem solid blue;
    border-radius: 50%;
    color: blue;
    font-size: 1.5rem;
    margin: 0 10px;
    cursor: pointer;
}

.social-links i:hover {
    scale: 1.1;
    color: white;
    text-shadow: 0 0 10px gold;
    background-color: blue;
    border: 0.2rem solid white;
}

.content button {
    width: 25%;
    height: 6vh;
    margin: 30px;
    background-color: transparent;
    border: 0.2rem solid blue;
    color: blue;
    outline: none;
    font-size: 120%;
    font-weight: 600;
    border-radius: 5px;
    transition: 0.2s linear;
    border-radius: 30px;
    cursor: pointer;
}

.content button:hover {
    scale: 1.2;
    color: white;
    text-shadow: 0 0 10px gold;
    background-color: blue;
    border: 0.2rem solid white;
}

@media (max-width: 884px){
    nav .logo {
        position: absolute;
        top: 16px;
        left: 15px;
        font-size: 1.5rem;
    }

    .main-container {
        display: flex;
        flex-direction: column;
    }

    .nav-container .links {
        display: none;
    }

    .hamburg,
    .cancel {
        display: block;
    }

    .main-container .content {
        width: 80%;
    }

    .social-links i {
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.5rem;
    }

    .main-container .image {
        z-index: -1;
        width: 50%;
        height: 50%;
    }
}

@media (max-width: 440px){
    .main-container .image {
        width: 50%;
        height: 30%;
    }

    .main-container .content {
        width: 80%;
    }

    .main-container button {
        margin-top: 15px;
    }
}
